@model WebClientDemo.Models.LongTaskViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hubUrl = ViewData["signalrHubUrl"];
    var runSessionId = ViewData["sessionId"];
}

<h1>Call Long Task Demo</h1>

<form asp-action="" method="post">
    <input id="callBtn" type="submit" value="Call Task" disabled />
</form>

<div>
    @if (Model != null)
    {
        <span>Called Grain Alarm()'s session Id : @Model.RunSessionId </span>
        <div>
            CallResult = @Model.Result
        </div>
    }
</div>
<div>
    <span>Current Running Status: </span><span id="current_status">not running</span>
</div>
@if (hubUrl != null && runSessionId != null)
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        'use strict';
        document.addEventListener("DOMContentLoaded", function(event) {
            const connection = new signalR.HubConnectionBuilder()
                .configureLogging(signalR.LogLevel.Debug)
                .withUrl("@hubUrl")
                .build();
            connection.start().then(() => {
                connection.stream("CheckJobStatus","@runSessionId").subscribe({
                    next: (item) => {
                        document.getElementById("current_status").textContent = item;
                        if (item !== "finished" || item !== "stopped") {
                            document.getElementById("btn").disabled = true;
                        }
                    },
                    complete: () => {
                        document.getElementById("current_status").textContent = "finished";
                        document.getElementById("callBtn").disabled = false;
                    },
                    error: (err) => {
                        document.getElementById("current_status").textContent = "get status error=" + err;
                    }
                });
            });
        });
    </script>
}
else
{
    <script type="text/javascript">
        'use strict';
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("callBtn").disabled = false;
        });
    </script>
}