@model WebClientDemo.Models.ResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Call Orleans Grain Demo</h1>

@if (Model == null)
{
    <form asp-action="CallGrainDemo" method="post">
        <span> 
        <input type="text" name="input" value="Hello Orleans"/> 
        </span>
        <input type="submit" value="Call Grain"/>
    </form>
}
else
{
    <div>
        Call Result = @Html.Raw( @Model.Result )
    </div>
}

